<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pabellonlh">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Cordones"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Main_CargandoUsuario_Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Main_DiasBicicletas_Activity"/>
        <activity android:name=".Main_AlquilarBicicleta_Activity" />
        <activity android:name=".Main_AlquilarPista_Activity" />
        <activity android:name=".Main_EliminarEditar_MiPista_Activity" />
        <activity android:name=".Main_MisPistas_Activity" />
        <activity android:name=".Main_RegistrarUsuario_Activity" />
        <activity android:name=".Main_Precios_Activity" />
        <activity android:name=".Main_Horario_Activity" />
        <activity android:name=".Main_Login_Activity" />
        <activity android:name=".Main_Inicio_Activity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>