<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pabellonlh">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:background="#76b153"
        android:icon="@mipmap/ic_launcher"
        android:label="Polideportivo Lahiguera"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".Main_CargandoUsuario_Activity"
            android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Main_EditarMisDatosUsuario_Activity"
            android:screenOrientation="nosensor"
            android:theme="@style/ThemeSegundaActivity" />
        <activity
            android:name=".Main_Ediciones_Activity"
            android:screenOrientation="nosensor"
            android:theme="@style/ThemeSegundaActivity" />
        <activity
            android:name=".Main_GestionZumba_Activity"
            android:screenOrientation="nosensor"
            android:theme="@style/ThemeSegundaActivity" />
        <activity
            android:name=".Main_EliminarZumbaAdministrador_Activity"
            android:screenOrientation="nosensor"
            android:theme="@style/ThemeSegundaActivity" />
        <activity
            android:name=".Main_GestionCrossFit_Activity"
            android:screenOrientation="nosensor"
            android:theme="@style/ThemeSegundaActivity" />
        <activity
            android:name=".Main_EliminarCloFitAdministrador_Activity"
            android:screenOrientation="nosensor"
            android:theme="@style/ThemeSegundaActivity" />
        <activity
            android:name=".Main_GestionPilates_Activity"
            android:screenOrientation="nosensor"
            android:theme="@style/ThemeSegundaActivity" />
        <activity
            android:name=".Main_EliminarPilatesAdministrador_Activity"
            android:screenOrientation="nosensor"
            android:theme="@style/ThemeSegundaActivity" />
        <activity
            android:name=".Main_GestionPistasFuturas_Activity"
            android:screenOrientation="nosensor"
            android:theme="@style/ThemeSegundaActivity" />
        <activity
            android:name=".Main_EditarEliminarPistasFuturas_Activity"
            android:screenOrientation="nosensor"
            android:theme="@style/ThemeSegundaActivity" />
        <activity
            android:name=".Main_GestionPistasHoy_Activity"
            android:screenOrientation="nosensor"
            android:theme="@style/ThemeSegundaActivity" />
        <activity
            android:name=".Main_EditarEliminarPistasHoy_Activity"
            android:screenOrientation="nosensor"
            android:theme="@style/ThemeSegundaActivity" />
        <activity
            android:name=".Main_GestionBicicletas_Activity"
            android:screenOrientation="nosensor"
            android:theme="@style/ThemeSegundaActivity" />
        <activity
            android:name=".Main_EliminarBicicletasAdministrador_Activity"
            android:screenOrientation="nosensor"
            android:theme="@style/ThemeSegundaActivity" />
        <activity
            android:name=".Main_AlquilerAdministrador_Activity"
            android:screenOrientation="nosensor"
            android:theme="@style/ThemeSegundaActivity" />
        <activity
            android:name=".Main_MomentoPistas_Activity"
            android:screenOrientation="nosensor"
            android:theme="@style/ThemeSegundaActivity" />
        <activity
            android:name=".Main_GestionPistasPasadas_Activity"
            android:screenOrientation="nosensor"
            android:theme="@style/ThemeSegundaActivity" />
        <activity
            android:name=".Main_EditarEliminarPistasPasadas_Activity"
            android:screenOrientation="nosensor"
            android:theme="@style/ThemeSegundaActivity" />
        <activity
            android:name=".Main_Usuarios_Activity"
            android:screenOrientation="nosensor"
            android:theme="@style/ThemeSegundaActivity" />
        <activity
            android:name=".Main_Administradores_Activity"
            android:screenOrientation="nosensor"
            android:theme="@style/ThemeSegundaActivity" />
        <activity
            android:name=".Main_Editar_Eliminar_Persona_Activity"
            android:screenOrientation="nosensor"
            android:theme="@style/ThemeSegundaActivity" />
        <activity
            android:name=".Main_AlquilarActividades_Activity"
            android:screenOrientation="nosensor"
            android:theme="@style/ThemeSegundaActivity" />
        <activity
            android:name=".Main_Pistas_Inicio_Activity"
            android:screenOrientation="nosensor"
            android:theme="@style/ThemeSegundaActivity" />
        <activity
            android:name=".Main_Zumba_Inicio_Activity"
            android:screenOrientation="nosensor"
            android:theme="@style/ThemeSegundaActivity" />
        <activity
            android:name=".Main_CrossFit_Inicio_Activity"
            android:screenOrientation="nosensor"
            android:theme="@style/ThemeSegundaActivity" />
        <activity
            android:name=".Main_Pilates_Inicio_Activity"
            android:screenOrientation="nosensor"
            android:theme="@style/ThemeSegundaActivity" />
        <activity
            android:name=".Main_LoginAdministrador_Activity"
            android:screenOrientation="nosensor"
            android:theme="@style/ThemeSegundaActivity" />
        <activity
            android:name=".Main_InicioAdministrador_Activity"
            android:screenOrientation="nosensor"
            android:theme="@style/ThemeSegundaActivity" />
        <activity
            android:name=".Main_Borrar_Crear_Activity"
            android:screenOrientation="nosensor"
            android:theme="@style/ThemeSegundaActivity" />
        <activity
            android:name=".Main_AlquilerFuturos_Inicio_Activity"
            android:screenOrientation="nosensor"
            android:theme="@style/ThemeSegundaActivity" />
        <activity
            android:name=".Main_DiasBicis_Inicio_Activity"
            android:screenOrientation="nosensor"
            android:theme="@style/ThemeSegundaActivity" />
        <activity
            android:name=".Main_EliminarActividad_Activity"
            android:screenOrientation="nosensor"
            android:theme="@style/ThemeSegundaActivity" />
        <activity
            android:name=".Main_AddPista_Activity"
            android:screenOrientation="nosensor"
            android:theme="@style/ThemeSegundaActivity" />
        <activity
            android:name=".Main_MisAlquiler_Activity"
            android:screenOrientation="nosensor"
            android:theme="@style/ThemeSegundaActivity" />
        <activity
            android:name=".Main_PistasAlquiler_Activity"
            android:screenOrientation="nosensor"
            android:theme="@style/ThemeSegundaActivity" />
        <activity
            android:name=".Main_EliminarBicicleta_Activity"
            android:screenOrientation="nosensor"
            android:theme="@style/ThemeSegundaActivity" />
        <activity
            android:name=".Main_AddBicicleta_Activity"
            android:screenOrientation="nosensor"
            android:theme="@style/ThemeSegundaActivity" />
        <activity
            android:name=".Main_DiasBicicletas_Activity"
            android:screenOrientation="nosensor"
            android:theme="@style/ThemeSegundaActivity" />
        <activity
            android:name=".Main_AlquilarPista_Activity"
            android:screenOrientation="nosensor"
            android:theme="@style/ThemeSegundaActivity" />
        <activity
            android:name=".Main_EliminarEditar_MiPista_Activity"
            android:screenOrientation="nosensor"
            android:theme="@style/ThemeSegundaActivity" />
        <activity
            android:name=".Main_RegistrarUsuario_Activity"
            android:screenOrientation="nosensor"
            android:theme="@style/ThemeSegundaActivity" />
        <activity
            android:name=".Main_Precios_Activity"
            android:screenOrientation="nosensor"
            android:theme="@style/ThemeSegundaActivity" />
        <activity
            android:name=".Main_Horario_Activity"
            android:screenOrientation="nosensor"
            android:theme="@style/ThemeSegundaActivity" />
        <activity
            android:name=".Main_Login_Activity"
            android:screenOrientation="nosensor"
            android:theme="@style/ThemeSegundaActivity" />
        <activity
            android:name=".Main_Inicio_Activity"
            android:screenOrientation="nosensor"
            android:theme="@style/ThemeSegundaActivity" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="nosensor"
            android:theme="@style/ThemeSegundaActivity" />
    </application>

</manifest>